/* section satu */
.tutorial section.dua{
    background: red;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}
.card-wrapper{
    background: yellow;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 2rem 0rem;
}
.tutorial .card{
    background: green;
    display: block;
    height: 100%;    
}
.card-image{
    padding:1rem;
}
.tutorial section.tiga{
    background: yellow;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}