/* section satu */
.tutorial section.dua{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}
.card-wrapper{
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
}
.card-container-tutorial{
    justify-content: space-between;
    display: flex;
    margin-top: 2rem;
}
.tutorial .card{
    background: #F29191;
    display: block;
    height: auto;    
    width: 20%;
}
.card-image{
    padding:1rem;
}

/* section 3 */
.tutorial section.tiga{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tutorial .tiga ul{
    margin-left:1rem;
    
    text-decoration: none;
}