/* section 1 */
.putih{
    color: #FEFAFE;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
section.dark-header{
    background: #242734;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container{
    width: 70%;
    height: 100%;
    justify-content: space-around;
}
.container-header{
    width: 70%;
    height: 100%;
    justify-content: space-around;
    display: flex;
}
/* section 2 */
.container-card{
    display: block;

}
.container-artikel{
    display: flex;
}
.header-page{
    margin-top:10rem;
    margin: auto;
    justify-content: space-around;
    display: block;
}
/* section dua */
.artikel section.dua{
    position: relative;
    justify-content: space-around;
    display: flex;
    height:auto;
    width: 100%;
    margin: 1rem 0rem;
}
.card-artikel{
    display: flex;
    height: auto;
    justify-content: space-between;
}
.card{
    text-align: center;
    font-weight: bold;
    width: 30%;
    height:auto;
    padding: 1rem 0rem;
    justify-content: center;
    display: flex;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: .2px .2px 4px rgba(0, 0, 0, 0.205);
    transition-duration: .2s;
}
.card-container{
    display: block;
}
.card-container h1{
    display: flex;
    left: 0;
}
.card-container img{
    position: relative;
    width: 100%;
    margin-top:1rem;
    height: auto;
    padding: 1em;
}
.header{
    height: auto;
    margin-top: 2rem;
}
.card.cerita{
    background: #D5D5D5;
}
.card.materi{
    background: #F29191;
}
.card.konspirasi{
    background: #EEC4C4;
}
.card h4{
    color: white;
    font-weight: bold;
}

/* section 3 */

.artikel section.tiga{
    justify-content: space-around;
    display: flex;
    height:auto;
    width: 100%;
    margin: 1rem 0rem;
}
.tiga div.container{
    position: absolute;
    padding: 2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: .3rem;
}
.header{
    position: relative;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: .3rem;
}
.cardnya{
    gap:1rem;
    flex-direction: row;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
}
a h3{
    font-weight: bold;
}
.card-containernya:hover{
    transform: scale(1.02);
    transition-duration: .2s;
}
.card-containernya{
    display: flex;
    column-gap: 1.5rem;
    padding: 1.5rem;
    width: 47%;
    justify-content: space-between;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.205);
}
.card-containernya img{
    width: 100%;
    height: auto;
}
.container-cardnya{
    position: relative;
}
.container-cardnya form{
    width: auto;
}
.image-container{
    width: 50%;
}

/* section empat */
.artikel section.empat{
    height: auto;
    position: absolute;
    background: red;
}