.editor-menu{
    padding:0;
    display:flex;
    height: 3rem;
    background: #c4c4c4;
    border: none;
}
.editor-menu button{
    border:none;
    cursor:pointer;
    height: auto;
    margin:0;
    padding: .5rem 1rem;
    color:#FEFAFE;
    background:#FD9388;
}
.editor-menu button:hover{
    background: #fd6959;
}
.container-code{
    display:block;
    width:100%;
    bottom: 0;
    height: 100vh;
    display: flex;
}
.kiri{
    height: auto;
    background: #ffffff;
    width: 50%;
}
.kanan{
    flex: 1;
    width: 50%;
    height: auto;
}
.bar{
    width: .5rem;
    background: #c4c4c4;
    cursor: w-resize;
}
iframe{
    color:red;
    color:white;
}